Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = ["subhranil",[2,3,'apple',23.45,True],99.99,(78,'pwskills',20.12,False)]

In [2]:
type(a[0])

str

In [3]:
type(a[1])

list

In [4]:
type(a[2])

float

In [5]:
type(a[3])

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [7]:
var1 = ''
type(var1)

str

In [8]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [9]:
var3 = ['DS','ML','Python']
type(var3)

list

In [10]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [12]:
a = 500 # '/'this denotes division between variables and it is artihmatic operator
b = 25
c = a/b
print(c)

20.0

In [18]:
a = 300 # '%'this denotes reamaider(Modulo) after division between variables and it is artihmatic operator
b = 19
c = a%b
print(c)

15

In [15]:
a = 10 #This'//' is floor operator and this operator will divide the first argument by the second and round the result down to the nearest whole number.
b = 3
c = a//b
print(c)

3

In [17]:
a = 5  # This '**'is power operator and this will give power of a number.
b = 3
c = a**b
print(c)

125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [34]:
l = [2,3,4,5,6,"subh",3+7j,23.14,True,(89,45,'apple',False)]
n = len(l)
print('The length of the list is:',n)
for i in l:
    print(type(i))
    if i == l:
        continue
    print(i)

The length of the list is: 10
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'str'>
subh
<class 'complex'>
(3+7j)
<class 'float'>
23.14
<class 'bool'>
True
<class 'tuple'>
(89, 45, 'apple', False)

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [35]:
a = int(input("Enter number A: "))
b = int(input("Enter number B: "))
count = 0  
while a % b == 0:
    count += 1
    a = a / b
if count > 0:
    print("Number A is divisible by B")
    print("Number A is divisible by B for", count, "times")
else:
    print("Number A is not divisible by B")

Enter number A:  45
Enter number B:  5

Number A is divisible by B
Number A is divisible by B for 1 times

Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [43]:
m = []
for i in range(25):
    m.append(i)
for n in m:
    if n % 3 == 0:
        print(n, "is divisible by 3")
    else:
        print(n, "is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

An object that allows you to change its values without changing its identity is a mutable object. The changes that you can perform on a mutable object’s value are known as mutations.

In contrast, an object that doesn’t allow changes in its value is an immutable object.
Generally a list or a tuple can ge mutable but a unique data type like string , bool etc. is immutable.

In [44]:
a = ["apple",2,True,23.12] #Mutable data type
a[0] = "Rose"
a[1] = 9
a[2] = False
a[3] = 45.45

In [45]:
a

['Rose', 9, False, 45.45]

In [ ]:
b = "MATH"
b[0] = "C"
b[1] = "O"
b[2] = "D"
b[3] = "E"